@using System.IO;

<h5>Select a background image:</h5>

<FileUploader Text="Open an image" Filter="image/jpeg" OnUpload="@LoadImage" />
<p>
	Upload a <strong>1280x720</strong> image, only JPG files are supported. <strike>Who needs DDS files anyway ?</strike>
</p>

<img src="@imageAsString" />

@functions {
	[Parameter] StateHolder state { get; set; }

	string imageAsString { get; set; } = "";

	public void LoadImage(MemoryStream file)
	{
		state.MainBG = new byte[file.Length];
		file.Read(state.MainBG, 0, state.MainBG.Length);
		imageAsString = $"data:image/jpeg;base64,{Convert.ToBase64String(state.MainBG)}";
		StateHasChanged();
	}
}
